.catalog
	h1.catalog__title Популярные товары
	.catalog__actions.actions-catalog
		.actions-catalog__order.order-catalog
			.order-catalog__label Сортировать по:
			.order-catalog__select
				select(name="form").form.custom-select
					option(value="1" selected="selected") По умолчанию
					option(value="2") По цене
					option(value="3") По названию
		.actions-catalog__view.view-catalog
			.view-catalog__item.view-catalog__item-grid
			.view-catalog__item.view-catalog__item-list
	.catalog__navi.navi-catalog.navi-catalog_top
		.navi-catalog__show.show-catalog
			.show-catalog__label
			.show-catalog__select
				select(name="form").show
					option(value="1" selected="selected") 9
					option(value="2") 18
					option(value="3") 32
					option(value="4") 100
		.navi-catalog__pages
			.pagging
				a(href="#").pagging__arrow
				ul.pagging__list
					li
						a(href="#").pagging__item.active 1
					li
						a(href="#").pagging__item 2
					li
						a(href="#").pagging__item 3
					li
						a(href="#").pagging__item 4
					li
						a(href="#").pagging__item 5
					li
						a(href="#").pagging__item ...
					li
						a(href="#").pagging__item 10
				a(href="#").pagging__arrow
	.catalog__products.items-products
		.items-products__column
			.item-product
				.item-product__labels
				a(href="#").item-product__image
					img(src="assets/images/products/02.jpg", alt="")
				.item-product__body
					a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.item-product__footer
						.item-product__old-price 64990 #[span &#8372;]
						a(href="#").item-product__add
						.item-product__price 64990 #[span &#8372;]
				.item-product__hover.hover-item-product
					a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.hover-item-product__options.options-item-product
						.options-item-product__item
							.options-item-product__label Тип беговой дорожки
							.options-item-product__value Электрическая
						.options-item-product__item
							.options-item-product__label Скорость движения (км/ч):
							.options-item-product__value  22
						.options-item-product__item
							.options-item-product__label Складывание
							.options-item-product__value Есть
					.hover-item-product__body
						a(href="#").hover-item-product__compare
							span Сравнить
					.hover-item-product__footer
						a(href="#").hover-item-product__cart.hover-item-product__cart_catalog
						.hover-item-product__price 64990 #[span &#8372;]
		.items-products__column
			.item-product
				.item-product__labels
				a(href="#").item-product__image
					img(src="assets/images/products/02.jpg", alt="")
				.item-product__body
					a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.item-product__footer
						.item-product__old-price 64990 #[span &#8372;]
						a(href="#").item-product__add
						.item-product__price 64990 #[span &#8372;]
				.item-product__hover.hover-item-product
					a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.hover-item-product__options.options-item-product
						.options-item-product__item
							.options-item-product__label Тип беговой дорожки
							.options-item-product__value Электрическая
						.options-item-product__item
							.options-item-product__label Скорость движения (км/ч):
							.options-item-product__value  22
						.options-item-product__item
							.options-item-product__label Складывание
							.options-item-product__value Есть
					.hover-item-product__body
						a(href="#").hover-item-product__compare
							span Сравнить
					.hover-item-product__footer
						a(href="#").hover-item-product__cart.hover-item-product__cart_catalog
						.hover-item-product__price 64990 #[span &#8372;]
		.items-products__column
			.item-product
				.item-product__labels
				a(href="#").item-product__image
					img(src="assets/images/products/02.jpg", alt="")
				.item-product__body
					a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.item-product__footer
						.item-product__old-price 64990 #[span &#8372;]
						a(href="#").item-product__add
						.item-product__price 64990 #[span &#8372;]
				.item-product__hover.hover-item-product
					a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.hover-item-product__options.options-item-product
						.options-item-product__item
							.options-item-product__label Тип беговой дорожки
							.options-item-product__value Электрическая
						.options-item-product__item
							.options-item-product__label Скорость движения (км/ч):
							.options-item-product__value  22
						.options-item-product__item
							.options-item-product__label Складывание
							.options-item-product__value Есть
					.hover-item-product__body
						a(href="#").hover-item-product__compare
							span Сравнить
					.hover-item-product__footer
						a(href="#").hover-item-product__cart.hover-item-product__cart_catalog
						.hover-item-product__price 64990 #[span &#8372;]
		.items-products__column
			.item-product
				.item-product__labels
				a(href="#").item-product__image
					img(src="assets/images/products/02.jpg", alt="")
				.item-product__body
					a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.item-product__footer
						.item-product__old-price 64990 #[span &#8372;]
						a(href="#").item-product__add
						.item-product__price 64990 #[span &#8372;]
				.item-product__hover.hover-item-product
					a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.hover-item-product__options.options-item-product
						.options-item-product__item
							.options-item-product__label Тип беговой дорожки
							.options-item-product__value Электрическая
						.options-item-product__item
							.options-item-product__label Скорость движения (км/ч):
							.options-item-product__value  22
						.options-item-product__item
							.options-item-product__label Складывание
							.options-item-product__value Есть
					.hover-item-product__body
						a(href="#").hover-item-product__compare
							span Сравнить
					.hover-item-product__footer
						a(href="#").hover-item-product__cart.hover-item-product__cart_catalog
						.hover-item-product__price 64990 #[span &#8372;]
		.items-products__column
			.item-product
				.item-product__labels
				a(href="#").item-product__image
					img(src="assets/images/products/02.jpg", alt="")
				.item-product__body
					a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.item-product__footer
						.item-product__old-price 64990 #[span &#8372;]
						a(href="#").item-product__add
						.item-product__price 64990 #[span &#8372;]
				.item-product__hover.hover-item-product
					a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.hover-item-product__options.options-item-product
						.options-item-product__item
							.options-item-product__label Тип беговой дорожки
							.options-item-product__value Электрическая
						.options-item-product__item
							.options-item-product__label Скорость движения (км/ч):
							.options-item-product__value  22
						.options-item-product__item
							.options-item-product__label Складывание
							.options-item-product__value Есть
					.hover-item-product__body
						a(href="#").hover-item-product__compare
							span Сравнить
					.hover-item-product__footer
						a(href="#").hover-item-product__cart.hover-item-product__cart_catalog
						.hover-item-product__price 64990 #[span &#8372;]
		.items-products__column
			.item-product
				.item-product__labels
				a(href="#").item-product__image
					img(src="assets/images/products/02.jpg", alt="")
				.item-product__body
					a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.item-product__footer
						.item-product__old-price 64990 #[span &#8372;]
						a(href="#").item-product__add
						.item-product__price 64990 #[span &#8372;]
				.item-product__hover.hover-item-product
					a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
					.hover-item-product__options.options-item-product
						.options-item-product__item
							.options-item-product__label Тип беговой дорожки
							.options-item-product__value Электрическая
						.options-item-product__item
							.options-item-product__label Скорость движения (км/ч):
							.options-item-product__value  22
						.options-item-product__item
							.options-item-product__label Складывание
							.options-item-product__value Есть
					.hover-item-product__body
						a(href="#").hover-item-product__compare
							span Сравнить
					.hover-item-product__footer
						a(href="#").hover-item-product__cart.hover-item-product__cart_catalog
						.hover-item-product__price 64990 #[span &#8372;]
	.catalog__navi.navi-catalog
		.navi-catalog__show.show-catalog
			.show-catalog__label
			.show-catalog__select
				select(name="form[]").show
					option(value="1" selected="selected") 9
					option(value="2") 18
					option(value="3") 32
					option(value="4") 100
		.navi-catalog__pages
			.pagging
				a(href="#").pagging__arrow
				ul.pagging__list
					li
						a(href="#").pagging__item.active 1
					li
						a(href="#").pagging__item 2
					li
						a(href="#").pagging__item 3
					li
						a(href="#").pagging__item 4
					li
						a(href="#").pagging__item 5
					li
						a(href="#").pagging__item ...
					li
						a(href="#").pagging__item 10
				a(href="#").pagging__arrow