form(action="#").filter
	.filter__title Фильтр товаров
	.filter__content.none
		.filter__body
			.filter__section.section-filter
				.section-filter__title Цена(грн.)
				.section-filter__body
					.price-filter
						.price-filter__slider
						.price-filter__values.values-price-filter
							.values-price-filter__column
								.values-price-filter__label от
								.values-price-filter__input
									input(type="text").input#price-start
							.values-price-filter__column
								.values-price-filter__label до
								.values-price-filter__input
									input(type="text").input#price-end
			.filter__section.section-filter
				.section-filter__title Товары для сравнения
				.section-filter__body
					.compare-filter
						.compare-filter__items
							.compare-filter__item
								a(href="#").compare-filter__link NordicTrack C100
								a(href="#").compare-filter__remove
							.compare-filter__item
								a(href="#").compare-filter__link Clear Fit Luxury LT.20
								a(href="#").compare-filter__remove
							.compare-filter__item
								a(href="#").compare-filter__link Ammity ATM 720 TFT+
								a(href="#").compare-filter__remove
						.compare-filter__footer
							.compare-filter__button
								span Сравнить
							.compare-filter__clean
			.filter__section.section-filter
				.section-filter__title.spoiler Производитель
				.section-filter__body.none
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Сlear-fit
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Diadora
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Hasttings
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Carbon-fitness
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text  Nordic Track
			.filter__section.section-filter
				.section-filter__title.spoiler Мощность двигателя
				.section-filter__body.none
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text 12
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text 14
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text 16
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text 18
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text  20
			.filter__section.section-filter
				.section-filter__title.spoiler Размер бегового полотна
				.section-filter__body.none
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Сlear-fit
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Diadora
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Hasttings
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Carbon-fitness
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text  Nordic Track
			.filter__section.section-filter
				.section-filter__title.spoiler Вес пользователя(макс.)
				.section-filter__body.none
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Сlear-fit
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Diadora
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Hasttings
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Carbon-fitness
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text  Nordic Track
			.filter__section.section-filter
				.section-filter__title.spoiler Скорость(макс.)
				.section-filter__body.none
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Сlear-fit
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Diadora
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Hasttings
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text Carbon-fitness
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text  Nordic Track
			.filter__section.section-filter
				.section-filter__title Угол наклона:
				.section-filter__body.none
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text нет регулировки
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text механическая
					label.section-filter__checkbox.checkbox
						input(type="checkbox").checkbox-input
						span.checkbox__text электронная
		.filter__footer
			button(type="submit").filter__btn.btn Подобрать
			button(type="reset").filter__btn.btn.btn--gray Сбросить



