.filter
	.filter__title Фильтр товаров
	.filter__body
		.filter__section.section-filter
			.section-filter__title Цена(грн.)
			.section-filter__body
				.price-filter
					.price-filter__slider
					.price-filter__values.values-price-filter
						.values-price-filter__column
							.values-price-filter__label от
							.values-price-filter__input
								input(type="text").input#price-start
						.values-price-filter__column
							.values-price-filter__label до
							.values-price-filter__input
								input(type="text").input#price-end
		.filter__section.section-filter
			.section-filter__title Товары для сравнения
			.section-filter__body
				.compare-filter
					.compare-filter__items
						.compare-filter__item
							a(href="#").compare-filter__link NordicTrack C100
							a(href="#").compare-filter__remove
						.compare-filter__item
							a(href="#").compare-filter__link Clear Fit Luxury LT.20
							a(href="#").compare-filter__remove
						.compare-filter__item
							a(href="#").compare-filter__link Ammity ATM 720 TFT+
							a(href="#").compare-filter__remove
					.compare-filter__footer
						.compare-filter__button
							span Сравнить
						.compare-filter__clean



