extends ../templates/_template.pug

block title
	title Logo

block basicSeo
	meta(name='description' content='Catalog Page')
	meta(name='keywords', content='catalog page')
	meta(name='Kostyantin' content='Logo')


block content
	include ../components/header
	include ../components/footer

	//- include components/footer
