html
	font-size: $mainFontSize
	font-family: $mainFont
	color: $text-color
	scroll-behavior: smooth

body
	min-width: 320px
	margin: 0
	-webkit-font-smoothing: antialiased
	color: $text-color
	font-weight: 400
	overflow-x: hidden
	position: relative
	line-height: $mainLineHeight

html, body
	height: 100%

section
	position: relative


ul, li
	padding: 0
	margin: 0
	list-style: none

p
	margin: 0

h1, h2, h3, h4, h5,h6
	margin-top: 0
	margin-bottom: 0
	font-size: inherit
	font-weight: normal

*, *::after, *::before
	box-sizing: border-box
a
	color: inherit
	text-decoration: none
	display: inline-block
	transition: $trs

audio, canvas, iframe, img, svg, video, textarea
	vertical-align: middle

textarea, input
	outline: none

img, .img
	max-width: 100%
	height: auto
	object-fit: cover

.container
	max-width: $maxWidthContainer
	margin: 0 auto
	padding: 0 20px
.btn
	display: inline-flex
	align-items: center
	justify-content: center
	transition: $trs
	padding: 0 25px
	height: 39px
	background: $accent-color
	cursor: pointer
	color: $white-color
	text-transform: uppercase
	border: none
	font-family: $mainFont
	font-size: 12px
	font-weight: 900
	@media ( min-width: 992px )
		&:hover
			background-color: #b86029
.input
	border-radius: 0 !important
	width: 100%
	display: block
	padding: 0 20px

.checkbox
	position: relative
	&__input
		position: absolute
		width: 0
		height: 0
		opacity: 0
		visibility: hidden

.swiper
	overflow: hidden
section
	padding: 25px 0
