.page__brands.brands-slider
	.brands-slider__container.container
		.brands-slider__body.swiper-container
			.brands-slider__slide
				img(src="assets/images/brands/01.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/02.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/01.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/02.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/01.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/02.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/01.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/02.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/01.jpg", alt="")
			.brands-slider__slide
				img(src="assets/images/brands/02.jpg", alt="")
		.brands-slider__arrows
			.brands-slider__arrow.brands-slider__arrow_prev.arrow.arrow__prev
			.brands-slider__arrow.brands-slider__arrow_next.arrow.arrow__next
