.page__slider.mainslider
	.mainslider__body.swiper-container
		.mainslider__slide
			.mainslider__content.content-mainslider
				.content-mainslider__title #[span Мега] распродажа
				.content-mainslider__text.text-mainslider
					p
						span.text-mainslider__text-1 Успей купить &nbsp;
						| тренажеры
					p.text-mainslider__text-2  по старой цене
					p до их
						span.text-mainslider__text-3  повышения
				.content-mainslider__footer
					.content-mainslider__price от 45 000 #[span &#8372;]
					a(href="#").content-mainslider__button #[span Подробнее]
			.mainslider__image
				img(src="/assets/images/main-slider/01.jpg", alt="")
		.mainslider__slide
			.mainslider__content.content-mainslider
				.content-mainslider__title #[span Мега] распродажа
				.content-mainslider__text.text-mainslider
					p
						span.text-mainslider__text-1 Успей купить &nbsp;
						| тренажеры
					p.text-mainslider__text-2  по старой цене
					p до их
						span.text-mainslider__text-3  повышения
				.content-mainslider__footer
					.content-mainslider__price от 45 000 #[span &#8372;]
					a(href="#").content-mainslider__button #[span Подробнее]
			.mainslider__image
				img(src="/assets/images/main-slider/02.jpg", alt="")
		.mainslider__slide
			.mainslider__content.content-mainslider
				.content-mainslider__title #[span Мега] распродажа
				.content-mainslider__text.text-mainslider
					p
						span.text-mainslider__text-1 Успей купить &nbsp;
						| тренажеры
					p.text-mainslider__text-2  по старой цене
					p до их
						span.text-mainslider__text-3  повышения
				.content-mainslider__footer
					.content-mainslider__price от 45 000 #[span &#8372;]
					a(href="#").content-mainslider__button #[span Подробнее]
			.mainslider__image
				img(src="/assets/images/main-slider/03.jpg", alt="")