ul.menu-page__list
	li.menu-page__parent
		a(href="#").menu-page__link Беговые дорожки
		.menu-page__submenu.submenu-page
			.submenu-page__item
				ul.submenu-page__menu
					li
						a(href="#").submenu-page__link Всепогодный
					li
						a(href="#").submenu-page__link Для помещений
					li
						a(href="#").submenu-page__link Профессиональный
					li
						a(href="#").submenu-page__link Любительский
				.submenu-page__product
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="/assets/images/products/01.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
							.item-product__footer
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
	li
		a(href="#").menu-page__link Эллиптические тренажеры
	li
		a(href="#").menu-page__link Велотренажеры
	li
		a(href="#").menu-page__link Гребные тренажеры
	li.menu-page__parent
		a(href="#").menu-page__link Вибромассажеры
		.menu-page__submenu.submenu-page
			.submenu-page__item
				ul.submenu-page__menu
					li
						a(href="#").submenu-page__link Всепогодный
					li
						a(href="#").submenu-page__link Для помещений
					li
						a(href="#").submenu-page__link Профессиональный
					li
						a(href="#").submenu-page__link Любительский
				.submenu-page__product
					.item-product
						.item-product__labels
							.item-product__label Товар дня
						a(href="#").item-product__image
							img(src="/assets/images/products/01.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
							.item-product__footer
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
	li
		a(href="#").menu-page__link Теннисные столы
	li
		a(href="#").menu-page__link Баскетбол
	li
		a(href="#").menu-page__link Массажные кресла
	li
		a(href="#").menu-page__link Массажные столы
	li.menu-page__parent
		a(href="#").menu-page__link  Силовые тренажеры
		.menu-page__submenu.submenu-page
			.submenu-page__item
				ul.submenu-page__menu
					li
						a(href="#").submenu-page__link Всепогодный
					li
						a(href="#").submenu-page__link Для помещений
					li
						a(href="#").submenu-page__link Профессиональный
					li
						a(href="#").submenu-page__link Любительский
				.submenu-page__product
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="/assets/images/products/01.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
	li.menu-page__parent
		a(href="#").menu-page__link Батуты
		.menu-page__submenu.submenu-page
			.submenu-page__item
				ul.submenu-page__menu
					li
						a(href="#").submenu-page__link Всепогодный
					li
						a(href="#").submenu-page__link Для помещений
					li
						a(href="#").submenu-page__link Профессиональный
					li
						a(href="#").submenu-page__link Любительский
				.submenu-page__product
					.item-product
						.item-product__labels
							.item-product__label Товар дня
						a(href="#").item-product__image
							img(src="/assets/images/products/01.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
	li
		a(href="#").menu-page__link Детские городки
	li
		a(href="#").menu-page__link Дачная мебель
	li
		a(href="#").menu-page__link Уличные спортивные комплексы
	li
		a(href="#").menu-page__link Аксессуары