.page__reviews-side.reviews-side
	a(href="#").reviews-side__title.side-title Отзывы
	.reviews-side__items
		a(href="#").reviews-side__item
			.reviews-side__header
				.reviews-side__user Павел Никифоров
				.reviews-side__date 12.09.2020
			.reviews-side__body Ради экономии места в тренажерном зале приобрел многофункциональный силовой тренажер Life Gear. За такую небольшую стоимость и с такими возможностями, он просто незаменим.
		a(href="#").reviews-side__item
			.reviews-side__header
				.reviews-side__user Степан Николаевич
				.reviews-side__date 12.09.2020
			.reviews-side__body Спасибо за прекрасный совет, велосипед всей семье понравился и цену за него достойную запросили.