.page__news-side.news-side
	a(href="#").news-side__title.side-title Новости
	.news-side__items
		.news-side__item
			a(href="#").news-side__label Снижение цен на игровые площадки Jungle Gym
			.news-side__body
				.news-side__date #[span 12] авг
				.news-side__text Уважаемые покупатели!Мы рады сообщить вам о снижении цены с 27 июля на детский игровой комплекс
		.news-side__item
			a(href="#").news-side__label Поступление батутов Eclipse!
			.news-side__body
				.news-side__date #[span 19] авг
				.news-side__text Уважаемые покупатели!Мы рады сообщить вам о снижении цены с 27 июля на детский игровой комплекс