.page__products.products-slider
	.products-slider__header
		.products-slider__title Популярные товары
		.products-slider__control
			.products-slider__arrow.products-slider__arrow_prev
			.products-slider__info
			.products-slider__arrow.products-slider__arrow_next
	.products-slider__item.swiper-container
		.products-slider__slide
			.products-slider__items.items-products
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
		.products-slider__slide
			.products-slider__items.items-products
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]
				.items-products__column
					.item-product
						.item-product__labels
						a(href="#").item-product__image
							img(src="assets/images/products/02.jpg", alt="")
						.item-product__body
							a(href="#").item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.item-product__footer
								.item-product__old-price 64990 #[span &#8372;]
								a(href="#").item-product__add
								.item-product__price 64990 #[span &#8372;]
						.item-product__hover.hover-item-product
							a(href="#").hover-item-product__title #[span BH Fitness F1 G6414V] Беговая дорожка
							.hover-item-product__options.options-item-product
								.options-item-product__item
									.options-item-product__label Тип беговой дорожки
									.options-item-product__value Электрическая
								.options-item-product__item
									.options-item-product__label Скорость движения (км/ч):
									.options-item-product__value  22
								.options-item-product__item
									.options-item-product__label Складывание
									.options-item-product__value Есть
							.hover-item-product__body
								a(href="#").hover-item-product__cart
							.hover-item-product__footer
								.hover-item-product__old-price 64990 #[span &#8372;]
								.hover-item-product__stock в наличии
								.hover-item-product__price 64990 #[span &#8372;]