footer.footer
	.footer__content.container
		.footer__body
			.footer__column
				.footer__block.block-footer
					.block-footer__column
						a(href="#").logo-footer
							img(src="assets/images/logo-footer.jpg", alt="")
						.block-footer__phones
							p
								a(href="tel:8800550770").block-footer__phone 8-800-550-770
							p
								a(href="tel:8800550770").block-footer__phone 8-800-550-770
					.block-footer__column
						.block-footer__delivery.delivery-footer
							.delivery-footer__title Доставка транспортными компаниями:
							.delivery-footer__items
								.delivery-footer__item
									img(src="assets/images/delivery/01.jpg", alt="")
								.delivery-footer__item
									img(src="assets/images/delivery/02.jpg", alt="")
								.delivery-footer__item
									img(src="assets/images/delivery/03.jpg", alt="")
								.delivery-footer__item
									img(src="assets/images/delivery/04.jpg", alt="")
								.delivery-footer__item
									img(src="assets/images/delivery/05.jpg", alt="")
								.delivery-footer__item
									img(src="assets/images/delivery/06.jpg", alt="")
				.footer__payments
					img(src="assets/images/payments.png", alt="")
			.footer__column
				.footer__widgets.widgets-footer
					.widgets-footer__column
						img(src="assets/images/vk.png", alt="")
					.widgets-footer__column
						img(src="assets/images/vk.png", alt="")
		.footer__bottom
			.footer__copy &copy; 2020 Все права защищены
			.footer__social.social-footer
				a(href="#").social-footer__item
					img(src="assets/images/icons/socials/01.png", alt="")
				a(href="#").social-footer__item
					img(src="assets/images/icons/socials/02.png", alt="")
				a(href="#").social-footer__item
					img(src="assets/images/icons/socials/03.png", alt="")
				a(href="#").social-footer__item
					img(src="assets/images/icons/socials/04.png", alt="")
